<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary" (click)="goToReleasedPage()">
    <ion-icon name="calendar-number-outline"></ion-icon>
  </ion-fab-button>

  <ion-fab-button color="secondary" (click)="goToMainPage()">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
  <ion-fab-button color="danger" (click)="createNotificationChannels()">
    <ion-icon name="notifications-off-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
  <div style="width: 104%; height: 100%; overflow: hidden;">
    <iframe id="myIframe" src="https://anime-sama.fr/" frameborder="0" allowfullscreen></iframe>
  </div>
